[Unit]
Description=uStreamer Right Camera Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=ustreamer --device=/dev/rightcam --host=192.168.0.100 --port=8084
Restart=always
User=%i
WorkingDirectory=/home/%i
StandardOutput=append:/var/log/ustreamer-rightcam.log
StandardError=append:/var/log/ustreamer-rightcam.log

[Install]
WantedBy=multi-user.target