[Unit]
Description=uStreamer Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash -c '
    ustreamer --device=/dev/frontcam --host=$(hostname -I | awk "{print $1}") --port=8082 & 
    ustreamer --device=/dev/leftcam --host=$(hostname -I | awk "{print $1}") --port=8083 & 
    ustreamer --device=/dev/rightcam --host=$(hostname -I | awk "{print $1}") --port=8084 & 
    ustreamer --device=/dev/tethercam --host=$(hostname -I | awk "{print $1}") --port=8085
'
Restart=always
User=%i
WorkingDirectory=/home/%i
StandardOutput=append:/var/log/ustreamer.log
StandardError=append:/var/log/ustreamer.log

[Install]
WantedBy=multi-user.target

