[Unit]
Description=uStreamer Tether Camera Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/ustreamer --device=/dev/tethercam --host=$(hostname -I | awk '{print $1}') --port=8085
Restart=always
User=%i
WorkingDirectory=/home/%i
StandardOutput=append:/var/log/ustreamer-tethercam.log
StandardError=append:/var/log/ustreamer-tethercam.log

[Install]
WantedBy=multi-user.target